aniso8601==9.0.1
ansi2html==1.9.2
appnope==0.1.4
arrow==1.3.0
asttokens==2.4.1
blinker==1.8.2
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
ConfigArgParse==1.7
debugpy==1.8.5
decorator==5.1.1
enum-compat==0.0.3
executing==2.0.1
filelock==3.15.4
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-RESTful==0.3.10
fsspec==2024.6.1
gevent==24.2.1
geventhttpclient==2.3.1
greenlet==3.0.3
huggingface-hub==0.24.5
idna==3.7
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.11
locust==2.31.2
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mpmath==1.3.0
msgpack==1.0.8
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pynvml==11.5.3
python-dateutil==2.9.0.post0
python-rapidjson==1.20
pytz==2024.1
PyYAML==6.0.2
pyzmq==26.1.0
regex==2024.7.24
requests==2.32.3
safetensors==0.4.4
six==1.16.0
stack-data==0.6.3
sympy==1.13.2
tabulate==0.9.0
termcolor==2.4.0
tokenizers==0.19.1
torch==2.4.0
torch-model-archiver==0.11.1
torch-workflow-archiver==0.2.14
torchserve==0.11.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.0
tritonclient==2.48.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
Werkzeug==3.0.3
widgetsnbextension==4.0.11
zope.event==5.0
zope.interface==7.0.1
